@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}

body {
  background: #f2f2f2;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 3rem;
  margin-top: 3.2rem;
}

.heading {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 2rem;
  text-transform: uppercase;
}

.sedans,
.suvs,
.luxury {
  padding: 5rem;
}

.sedans {
  background: #e38826;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.suvs {
  background: #006970;
}

.luxury {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #004241;
}

img {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.heading {
  color: #f2f2f2;
  padding-bottom: 2.2rem;
}

.para {
  font-size: 1.1rem;
  color: #f2f2f2;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.btn {
  padding: 1.2rem;
  background: #f2f2f2;
  border: none;
}

.sedans .btn {
  font-size: 1rem;
  border-radius: 50px;
  color: #e38826;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sedans .btn:hover {
  background: #e38826;
  color: #f2f2f2;
  border: solid #f2f2f2;
}

.suvs .btn {
  font-size: 1rem;
  border-radius: 50px;
  color: #006970;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.suvs .btn:hover {
  background: #006970;
  color: #f2f2f2;
  border: solid #f2f2f2;
}

.luxury .btn {
  font-size: 1rem;
  border-radius: 50px;
  color: #004241;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.luxury .btn:hover {
  background: #004241;
  color: #f2f2f2;
  border: solid #f2f2f2;
}

@media only screen and (max-width: 1440px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sedans {
    background: #e38826;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
  }
  .luxury {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    background: #004241;
  }
}
/*# sourceMappingURL=style.css.map */